/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-color: #757575;
  --white: #fff;
  --bg-color: #2f303a;
  --black: #000;
  --silver-color: #f5f4fa;
  --gray-color: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu__link:hover, .header-mobile__link:hover,
.contacts__link:hover,
.navigation-menu__link:focus,
.header-mobile__link:focus,
.contacts__link:focus {
  color: var(--accent-color);
}

.specialization__item:not(:last-child) {
  margin-right: 30px;
}

.form__btn, .footer-form__btn, .heroi__button {
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-weight: 700;
  color: var(--white);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title {
  font-size: 28px;
  line-height: 1.14;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1199.98px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}

.hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1199.98px) {
  .container {
    max-width: 1200px;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 15px 0;
  }
}

.header__logo {
  margin-right: 93px;
}

.header__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__desctop {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header__desctop {
    display: none;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__decor {
  color: var(--black);
}

.header__menu,
.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navigation-menu__item {
  padding: 32px 0;
  position: relative;
}
.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  margin-left: auto;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation-menu__link, .header-mobile__link,
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color);
  transition: color 250ms var(--transition-timing);
}

.contacts__link {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.active {
  color: var(--accent-color);
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 767.98px) {
  .header__wraper {
    display: none;
  }
}

.header-mobile__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
.header-mobile__btn:hover .burger-btn__close, .header-mobile__btn:focus .burger-btn__close {
  fill: var(--accent-color);
}

@media screen and (min-width: 767.98px) {
  .header-mobile__btn {
    display: none;
  }
}

body.overflow {
  overflow: hidden;
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 48px 15px 48px 40px;
  transform: translateX(-100%);
  transition: transform 250ms var(--transition-timing);
  background-color: var(--white);
  overflow: auto;
  z-index: 1;
}

.header__mobile ~ .header-mobile__btn .burger-btn__open {
  display: block;
}
.header__mobile ~ .header-mobile__btn .burger-btn__close {
  display: none;
}
.header__mobile.is-open {
  transform: translateX(0);
}
.header__mobile.is-open ~ .header-mobile__btn .burger-btn__open {
  display: none;
}
.header__mobile.is-open ~ .header-mobile__btn .burger-btn__close {
  transition: fill 250ms var(--transition-timing);
  display: block;
}

.header-mobile__link.active::after {
  display: none;
}

.header-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-mobile__link {
  font-size: 40px;
  line-height: 1.17;
}

.header-social {
  display: flex;
  flex-wrap: wrap;
}

.header-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mobile-contacts__tel {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.heroi {
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/heroi-mobile.jpg");
}
@media screen and (min-width: 1199.98px) {
  .heroi {
    padding: 200px 0;
    background-size: 1600px;
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480.98px) {
  .heroi {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/heroi-tablet.jpg");
  }
}
@media screen and (min-width: 768.98px) {
  .heroi {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi.jpg");
  }
}

@media screen and (max-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 479.98px) and (--webkit-min-device-pixel-ratio: 2), screen and (max-width: 479.98px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 479.98px) and (min-resolution: 192dpi), screen and (max-width: 479.98px) and (min-resolution: 2dppx) {
  .heroi {
    background-image: url("../images/mobile/heroi-mobile@2x.jpg");
  }
}
@media screen and (min-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (--webkit-min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 479.98px) and (min-resolution: 192dpi), screen and (min-width: 479.98px) and (min-resolution: 2dppx) {
  .heroi {
    background-image: url("../images/tablet/heroi-tablet@2x.jpg");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (--webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .heroi {
    background-image: url("../images/heroi@2x.jpg");
  }
}
.heroi__wraper {
  text-align: center;
}

.heroi__title {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--white);
  margin-bottom: 30px;
}
@media screen and (min-width: 1199.98px) {
  .heroi__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.heroi__button {
  padding: 10px 24px;
}
@media screen and (min-width: 1199.98px) {
  .heroi__button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .advantages__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.98px) {
  .advantages__item {
    max-width: 270px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__top {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--silver-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__head {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 767.98px) {
  .advantages__head {
    text-align: left;
  }
}

.advantages__text {
  line-height: 1.71;
}

.specialization {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .specialization {
    display: none;
  }
}

.specialization__list {
  display: flex;
}

.specialization__item {
  position: relative;
}

.specialization__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--silver-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.98px) {
  .team__item {
    max-width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__descr {
  padding: 30px 0;
  background-color: var(--white);
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__pisition {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.team-social__item :not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 44px;
  height: 44px;
  color: var(--gray-color);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
  border-radius: 50%;
}

.team-social__icon {
  fill: currentColor;
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.clients__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clisents__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .clisents__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.98px) {
  .clisents__item {
    width: 170px;
  }
  .clisents__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 92px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  color: var(--gray-color);
  transition: border-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-color);
}
.footer .logo__decor {
  color: var(--white);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
}
@media screen and (max-width: 1199.98px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

.address__street {
  line-height: 1.71;
  color: var(--white);
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1199.98px) {
  .footer__wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 767.98px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

.footer__soc {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 1199.98px) {
  .footer-form {
    margin-left: auto;
  }
}

.footer-form__input {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  color: var(--white);
  transition: border-color 250ms var(--transition-timing);
}
@media screen and (max-width: 767.98px) {
  .footer-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 767.98px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer-form__input {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer-form__input {
    width: 358px;
  }
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1199.98px) {
  .footer-form__form {
    display: flex;
  }
}

.footer-form__btn {
  padding: 10px 28px;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer-form__btn {
    display: block;
    margin: 0 auto;
  }
}

.send-icon {
  display: inline-block;
  vertical-align: middle;
}

.portfolio__btn {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--silver-color);
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: box-shadow 250ms var(--transition-timing), color 250ms var(--transition-timing), background-color 250ms var(--transition-timing);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .portfolio__list {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .portfolio__list {
    margin-bottom: 30px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767.98px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 767.98px) {
  .portfolio__cases {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cases__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .cases__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) {
  .cases__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.98px) {
  .cases__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.cases__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: box-shadow 250ms var(--transition-timing);
}
.cases__link:hover, .cases__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cases__link:hover .cases__overlay, .cases__link:focus .cases__overlay {
  transform: translateY(0);
}

.cases__wraper {
  position: relative;
  overflow: hidden;
}

.cases__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--accent-color);
  transform: translateY(101%);
  transition: transform 250ms var(--transition-timing);
}

.cases__descr {
  font-size: 18px;
  line-height: 1.55;
  color: var(--white);
}

.cases__info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}

.cases__name {
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  color: var(--title-color);
}

.cases__product {
  font-size: 16px;
  line-height: 1.87;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
  z-index: 2;
  overflow: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-height: 609px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing);
}
@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal {
    min-height: 581px;
    max-width: 528px;
  }
}

.btn-icon {
  transition: fill 250ms var(--transition-timing);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__btn:hover > .btn-icon {
  fill: var(--accent-color);
}

.back-drop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.back-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal__title {
  font-size: 20px;
  line-height: 1.095;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 767.98px) {
  .modal__title {
    line-height: 1.5;
  }
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}
.form-group:not(:last-child) {
  margin-bottom: 10px;
}

.form-group__label {
  margin-bottom: 4px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-group__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing);
}
.form-group__input:hover, .form-group__input:focus {
  border-color: var(--accent-color);
}
.form-group__input:hover ~ .form-group__icon, .form-group__input:focus ~ .form-group__icon {
  fill: var(--accent-color);
}

.form-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--transition-timing);
}

.form-group__input--textarea {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.form-group__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__offer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.offer__label {
  display: flex;
  align-items: center;
}

.offer__text {
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1199.98px) {
  .offer__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.offer__icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--black);
  transition: border 250ms var(--transition-timing), background-color 250ms var(--transition-timing);
  display: flex;
  flex-shrink: 0;
}

.offer__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.offer__checkbox:checked + .offer__label > .offer__icon {
  border: none;
  background-color: var(--accent-color);
}

.offer__link {
  margin-left: 6px;
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.16;
  text-decoration: underline;
}
@media screen and (min-width: 1199.98px) {
  .offer__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__bottom {
  text-align: center;
}

.form__btn {
  padding: 10px 52px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=main.css.map */