.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  }
}

.advantages__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $desctop) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desctop) {
    max-width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages__top {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__head {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages__text {
  line-height: 1.71;
}
