:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-color: #757575;
  --white: #fff;
  --bg-color: #2f303a;
  --black: #000;
  --silver-color: #f5f4fa;
  --gray-color: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
$mobile: 479.98px;
$tablet: 767.98px;
$desctop: 1199.98px;
